<header>
    <nav>
        <a href="/">Graduates</a>
        <ul>
            <li><a href="/graduates">Search for graduates</a></li>
            <li><a href="/graduates/new">Create graduate profile</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            </ul>
    </nav>
</header>